/*
For All Pages
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 7vw;
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  z-index: 10;
}
.a1 {
  display: flex;
  gap: 30px;
}
.a1 ul, .a2 ul {
  list-style: none;
  position: absolute;
  display: none;
  background-color: #fff;
  padding: 20px;
  gap: 10px;
  flex-direction: column;
  transform: translateX(-20px);
  border-radius: 0 0 20px 20px;
}
.sitemap ul {
  transform: translateY(-100%) translateX(-20px);
  border-radius: 20px 20px 0 0;
}
.a1 div:hover ul, .a2 div:hover ul {
  display: flex;
}
.a1 div:hover p {
  color: #2dd217;
}
.a1 p, .a2 p {
  cursor: pointer;
  color: #144b31;
}
.a1 ul li {
  position: relative;
}
.active, p.active {
  color: #2dd217;
}
.a1 p span {
  font-size: 13px;
  margin-left: 7px;
}
.a2 p span {
  margin-left: 7px;
}
.nav2 {
  width: 100%;
  display: flex;
  padding: 13px 7vw;
  opacity: 0;
  height: 5px;
  overflow: hidden;
}
.logo {
  display: flex;
  align-items: center;
  line-height: 18px;
}
.logo .txt {
  color: #144b31;
  font-size: 15px;
}
.logo .pic {
  width: 35px;
  height: 35px;
  background-image: url('/images/icon.png?v=1.0.1');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 0 5px 0 0;
}
nav a {
  color: #144b31;
  text-decoration: none;
}
nav button {
  height: 100%;
  background: transparent;
  border: 2px solid #144b31;
  color: #144b31;
  padding: 8px 18px;
  border-radius: 10px;
}
nav button:hover {
  color: #fff;
  background-color: #144b31;
}
.hamb, .a2 {
  display: none;
}
.hamb:hover {
  color: #144b31;
  background-color: #fff;
}
header {
  display: flex;
  background-color: #dfd;
  overflow: hidden;
  margin-bottom: 50px;
}
.headtxt {
  width: 55%;
}
.inheadtxt {
  width: 100%;
  padding: 200px 3vw 100px 7vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.inheadtxt .t1 {
  color: #144b31;
  font-size: 65px;
  font-weight: bold;
  line-height: 80px;
}
.inheadtxt .t2 {
  color: #144b31;
  font-size: 20px;
}
.inheadtxt a {
  font-size: 20px;
  margin: 0;
  background-color: #144b31;
  color: #dfd;
  width: fit-content;
  padding: 9px 18px;
  border: 3px solid #144b31;
  border-radius: 10px;
  margin-top: 30px;
  font-weight: 300;
  text-decoration: none;
  transition-duration: 200ms;
}
.inheadtxt a:hover {
  background-color: #0000;
  color: #144b31;
}
.inheadtxt .t2 span {
  color: #ab5e00;
}
.illst {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  transform: translateX(-5%) translateY(15%);
  overflow: hidden;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin2 {
  0% {
    transform: scale(85%) translateY(70px) rotate(0deg);
  }
  50% {
    transform: scale(85%) translateY(70px) rotate(180deg);
  }
  100% {
    transform: scale(85%) translateY(70px) rotate(360deg);
  }
}
.rot1, .rot2, .rot3 {
  border: 1px solid #0004;
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  border-radius: 100%;
}
.rot1 {
  width: 700px;
  height: 700px;
  animation-duration: 50s;
}
.flex1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.rot2 {
  width: 600px;
  height: 600px;
  animation-duration: 30s;
  animation-direction: reverse;
  transform: translateY(-100px);
}
.rot3 {
  width: 500px;
  height: 500px;
  animation-duration: 20s;
}
.rote1, .rote2 {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
.rote1 {
  transform: translateX(-50%);
}
.rote2 {
  transform: translateX(50%);
}
.rot1 .rote1, .rot1 .rote2, .rot3 .rote1, .rot3 .rote2 {
  background-color: #ab5e00;  
}
.rot2 .rote1, .rot2 .rote2 {
  background-color: #144b31;  
}
.sq1, .sq2 {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  position: absolute;
}
.sq1 {
  background-color: #ab5e00;
  transform: rotate(3deg);
}
.sq2 {
  background-color: #144b31;
  transform: rotate(-3deg);
}
.illst img {
  position: absolute;
  width: 400px;
}
.hide {
  display: none;
}
.waw {
  width: 100%;
  background-color: #fff;
  padding: 50px 7vw 70px 7vw;
}
.waw h1 {
  text-align: center;
  color: #144b31;
  text-shadow: 0 5px 0 #aaa;
  margin-bottom: 50px;
  font-size: 30px;
}
.mvv {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ccc2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mvv .ccc{
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
  text-align: center;
  transition-duration: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 200px;
  transition: all  0.5s ease-in-out;
  overflow: hidden;
  transition-duration: 0.4s;
}
#mvvb1h, #mvvb2h, #mvvb3h {
  display: none;
}
.changed {
  height: auto;
}
.mvv .icon {
  width: 70px;
  height: 70px;
  background-color: #dfd;
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mvv .icon i {
  font-size: 35px;
  color: #144b31;
}
.mvv div button{
  width: 100%;
  transform: translateY(-40%);
  border: 0;
  padding-top: 10px;
  background: linear-gradient(to bottom, #fffe, #ffff);
  font-size: 18px;
  font-weight: 500;
  color: #144b31;
}
.mvv div h2{
  font-size: 27px;
  margin-bottom: 10px;
  color: #144b31;
}
.mvv div p{
  font-size: 17px;
  color: #555;
}
.mvv div hr{
  margin-bottom: 15px;
}
.about {
  display: flex;
  align-items: stretch;
  margin-bottom: 120px;
}
.about .img {
  width: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.about .img img {
  height: 100%;
}
.about .txt {
  width: 50%;
  padding-left: 50px;
}
.about .txt h2 {
  color: #144b31;
  text-shadow: 0 5px 0 #aaa;
  margin-bottom: 15px;
  font-size: 30px;
}
.about .txt p {
  color: #555;
  font-size: 18px;
}
.services {
  width: 100%;
  padding: 0 7vw;
}
.services h1 {
  text-align: center;
  color: #144b31;
  font-size: 30px;
  text-shadow: 0 5px 0 #0004;
  margin-bottom: 60px;
}
.servout {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.servcard {
  width: 49%;
  min-width: 300px;
  margin-bottom: 50px;
}
.servcard h2 {
  font-size: 30px;
  margin-bottom: 15px;
}
.servcard a {
  color: #144b31;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  gap: 10px;
  align-items: center;
  width: fit-content;
}
.servcard p {
  margin-bottom: 20px;
  color: #555;
}
.bookout {
  width: 100%;
  padding: 50px 4vw;
}
.book {
  width: 100%;
  padding: 50px 30px;
  border-radius: 40px;
  background-color: #144b31;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.book h1 {
  text-align: center;
  color: #fff;
  text-shadow: 0 5px 0 #ab5e00;
  margin-bottom: 10px;
  font-size: 30px;
}
.book p {
  text-align: center;
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
}
.book button {
  width: 250px;
  color: #fff;
  border: 3px solid #fff;
  background: transparent;
  font-size: 20px;
  padding: 10px;
  border-radius: 100px;
  transition-duration: 400ms;
}
.book button:hover {
  width: 270px;
}
.blog h1 {
  text-align: center;
  color: #144b31;
  font-size: 30px;
  text-shadow: 0 5px 0 #0004;
  margin-bottom: 30px;
}
.blogin {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 7vw;
}
.bfirst {
  margin-top: 50px;
}
.blogcard {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.blogcard * {
  margin-bottom: 30px;
}
.blogcard p {
  color: #555;
}
.blogcard a {
  color: #144b31;
  text-decoration: none;
}
.blgimg {
  width: 100%;
  aspect-ratio: 1.5;
  background-color: #ccc;
  background-size: cover;
  box-shadow: 2px 2px 5px #0004;
}
.bl1 {
    background-image: url('https:///Blogs/images/blg1.png');
}
.bl2 {
    background-image: url('https:///Blogs/images/blg2.png');
}
.bl3 {
    background-image: url('https:///Blogs/images/blg3.png');
}
.bl4 {
    background-image: url('https:///Blogs/images/blg4.png');
}
.bl5 {
    background-image: url('https:///Blogs/images/blg5.png');
}
.bl6 {
    background-image: url('https:///Blogs/images/blg6.png');
}
.bl7 {
    background-image: url('https:///Blogs/images/blg7.png');
}
.bl8 {
    background-image: url('https:///Blogs/images/blg8.png');
}
footer {
  width: 100%;
  padding: 20px 2vw;
}
.f1 {
  width: 100%;
  border-bottom: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
footer .logo {
  margin: 0;
}
footer .logo .txt {
  font-size: 18px;
  line-height: 22px;
}
footer .logo .pic {
  width: 40px;
  height: 40px;
}
.sitemap {
  display: flex;
  gap: 20px;
}
.soc {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.f2 {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  color: #888;
}
footer a {
  text-decoration: none;
  color: #144b31;
}
a:hover, .a1 p:hover {
  color: #2dd217;
}
.servmore {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.dsk {
  display: block;
}
.phn {
  display: none;
}
.wrk {
  margin-bottom: 60px;
}
.wrk p {
  text-align: center;
}
.wrk .compn {
  margin-top: 20px;
  display: flex;
  overflow: hidden;
}
@keyframes compn {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.wrk .compn1 {
  display: flex;
  animation-name: compn;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.wrk div .img {
  margin-left: 50px;
  height: 100px;
  background-color: #ddd;
  border-radius: 20px;
  overflow: hidden;
}
.cn1 {
  width: 160px;
}
.cn2 {
  width: 218px;
}
.cn3 {
  width: 100px;
}
.cn4 {
  width: 152px;
}
.cn5 {
  width: 309px;
}
.terms {
  padding: 0 7vw;
}
.terms ol {
  margin: 20px;
}
.terms ul li{
  margin: 0 0 0 30px;
}
.terms h1 {
  padding-top: 100px;
}
.qt {
    background-color: #144b31;
    color: #fff;
    width: fit-content;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 10px;
    border: 3px solid #144b31;
}
.qt:hover {
    background-color: #2dd217;
    border: 3px solid #2dd217;
    color: #fff;
}
.fst {
    background-color: transparent;
    color: #144b31;
}
.inheadtxt .ttbtm {
  margin-top: 10px;
}
.whatsapp-link {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #128C7E;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 25px;
  margin: 20px;
  padding: 0 20px 0 20px;
  column-gap: 5px;
  font-weight: 600;
}
.whatsapp-link i {
  font-size: 30px;
}
.whatsapp-link:active {
  background-color: #fff;
}
.whatsapp-link a:active {
  color: #128C7E;
}